
				{{#bs-form formLayout=formLayout model=address onSubmit=(action "save") as |form|}}
				
					{{form.element property="street" placeholder=(t "forms.common.address.street") label=(t "forms.common.address.street")}}
					{{form.element property="city" placeholder=(t "forms.common.address.city") label=(t "forms.common.address.city")}}
					{{form.element property="postalCode" placeholder=(t "forms.common.address.postalCode") label=(t "forms.common.address.postalCode")}}
					{{form.element property="region" placeholder=(t "forms.common.address.region") label=(t "forms.common.address.region")}}
					{{#bs-dropdown as |dd|}}
					  {{#dd.button}}{{t "forms.common.address.country"}} <span class="caret"></span>{{/dd.button}}
					  {{#dd.menu as |menu|}}
					    {{#each model.countries as |country|}}
					    {{#menu.item}}
					      {{#menu.link-to "index"}}{{country.name}}{{/menu.link-to}}
					    {{/menu.item}}
					    
					    {{/each}}
					  {{/dd.menu}}
					{{/bs-dropdown}}
				{{/bs-form}}
					<div class="card-footer">
					<div class="btn-group">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button id="saveAddressButton" class="btn btn-primary"
							{{action "saveClub"}} data-dismiss="modal" >{{t "user.save"}}</button>
					</div>
					</div>
				
{{yield}}
