<div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
	aria-labelledby="addressModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addressModalLabel">{{addressee}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label={{t "forms.close"}}>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					{{bootstrap-input value=address.street placeholder=(t "forms.common.address.street") label=(t "forms.common.address.street")}}
					{{bootstrap-input value=address.city placeholder=(t "forms.common.address.city") label=(t "forms.common.address.city")}}
					{{bootstrap-input value=address.postalCode placeholder=(t "forms.common.address.postalCode") label=(t "forms.common.address.postalCode")}}
					{{bootstrap-input value=address.region placeholder=(t "forms.common.address.region") label=(t "forms.common.address.region")}}
					{{#bootstrap-power-select 
						selected=countryName
						options=countries
						placeholder=(t "forms.common.address.country") 
						label=(t "forms.common.address.country")
						onChange=(action "countrySelected" option)
						as |option|}}
    					<span>{{option.name}}</span>
					{{/bootstrap-power-select}}
				</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button id="saveAddressButton" class="btn btn-primary"
							{{action "saveClub"}} data-dismiss="modal" >{{t "user.save"}}</button>
					</div>
				
			</div>
		</div>

	</div>
</div>
{{yield}}
