<div class="card">
	<div class="card-header">{{title}}</div>
	<div class="card-body">
		<ul class="list-group">
			{{#each items as |item|}}
			<li class="list-group-item list-group-item-action" ><a href="#" {{action "itemSelected" item}}>{{item.name}}</a>
			</li> {{/each}}

		</ul>
		<button type="button" class="btn btn-secondary"{{action "newEntity"}}>
			{{t "user.new"}}</button>
	</div>
</div>
{{yield}}
