<!-- The club editor page -->
	<div class="card">
	<div class="card-header">
		<h5>{{model.club.name}}</h5>
			<div class="btn-group collapsed">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">{{t "user.close"}}</button>
				<button id="saveButton"
					class="btn btn-primary"
					{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>

			</div>
		</div>
	</div>
{{#bs-accordion selected="1" as |acc|}}
	{{#acc.item value="1" title=(t "forms.common.identity")}}
	<div class="card" id="clubModal">
		<div class="card-body">{{#bs-form formLayout=formLayout
			model=model.club
			onSubmit=(action "save") as |form|}}
				{{form.element
					property="id"
					placeholder=(t "forms.common.id")
					label=(t "forms.common.id")
				}}
				{{form.element
					property="name"
					placeholder=(t "forms.common.name")
					label=(t "forms.common.name")
				}}
				{{form.element
					property="emailAddress"
					placeholder=(t "forms.common.email")
					label=(t "forms.common.email")
				}}
				{{form.element
					property="webSiteUrl"
					placeholder=(t "forms.common.webSiteUrl")
					label=(t "forms.common.webSiteUrl")
				}}
				{{form.element
					property="facebookPage"
					placeholder=(t "forms.common.facebookPage")
					label=(t "forms.common.webSiteUrl")
				}}
			{{/bs-form}}
		</div>

	</div>
	{{/acc.item}}
	{{#acc.item value="2" title=(t "forms.common.address.title")}}
	<div class="card">
			<div class="card-body">
			{{address-input
				address=model.club.postalAddress
				addressee=model.club.name
				countries=model.countries
				save=(action "saveAddress")
				}}

		</div>
	</div>
	{{/acc.item}}
	{{#acc.item value="3" title=(t "site.members")}}
	<div class="card">
		<div class="card-body">
			 {{entity-list
				 items=model.club.memberships
				 newEntity=(action "newMembership")
				 itemSelected = (action "membershipSelected")
			 }}
			 {{membership-editor membership=selectedMembership save=(action "saveMembership")}}
		</div>
	</div>
	{{/acc.item}}
{{/bs-accordion}}
<div class="card">
<div class="card-header">
		<div class="btn-group collapsed">
			<button type="button" class="btn btn-secondary"
				data-dismiss="modal">{{t "user.close"}}</button>
			<button id="saveButton"
				class="btn btn-primary"
				{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>

		</div>
	</div>
</div>
{{outlet}}
