<!-- The membership editor modal dialog -->
	<div class="card">
	<div class="card-header">
		<h5>{{model.membership.name}}</h5>
			<div class="btn-group collapsed">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">{{t "user.close"}}</button>
				<button id="saveButton" 
					class="btn btn-primary"
					{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>
								
			</div>
		</div>
	</div>
{{#bs-accordion as |acc|}}	
	{{#acc.item value="1" title=(t "forms.common.general")}}
	<div class="card" id="membershipModal">
		<div class="card-body">{{#bs-form formLayout=formLayout
			model=model.membership 
			onSubmit=(action "save") as |form|}} 
				{{form.element
					property="id" 
					placeholder=(t "forms.common.id") 
					label=(t "forms.common.id")
				}} 
				{{form.element 
					property="membershipId" 
					placeholder=(t "forms.common.membershipId") 
					label=(t "forms.common.membershipId")
				}} 
				{{form.element
					property="person" 
					placeholder=(t "site.person")
					label=(t "site.person")
				}} 
				{{#bs-dropdown as |dd|}}
					  {{#dd.button}}{{t "site.clubs"}} <span class="caret"></span>{{/dd.button}}
					  {{#dd.menu as |menu|}}
					    {{#each model.clubs as |club|}}
					    {{#menu.item}}
					      <span {{action "clubSelected" club}}>{{club.name}}</span>
					    {{/menu.item}}
					    
					    {{/each}}
					  {{/dd.menu}}
					{{/bs-dropdown}} 
				{{form.element
					property="joined" 
					placeholder=(t "forms.common.joinDate")
					label=(t "forms.common.joinDate")
				}}
				{{form.element
					property="renewal" 
					placeholder=(t "forms.common.renewalDate")
					label=(t "forms.common.renewalDate")
				}} 
			{{/bs-form}}
		</div>

	</div>
	{{/acc.item}}

{{/bs-accordion}}
<div class="card">
<div class="card-header">
		<div class="btn-group collapsed">
			<button type="button" class="btn btn-secondary"
				data-dismiss="modal">{{t "user.close"}}</button>
			<button id="saveButton" 
				class="btn btn-primary"
				{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>
							
		</div>
	</div>
</div>
			{{yield}}