<!-- The site editor page -->
	<div class="card">
	<div class="card-header">
		<h5>{{model.site.name}}</h5>
			<div class="btn-group collapsed">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">{{t "user.close"}}</button>
				<button id="saveButton" 
					class="btn btn-primary"
					{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>
								
			</div>
		</div>
	</div>
{{#bs-accordion selected="1" as |acc|}}	
	{{#acc.item value="1"  title=(t "forms.common.map.title")}}
	
			{{#g-map 
				lat=model.site.map.siteMarker.latitude 
				lng=model.site.map.siteMarker.longitude 
				zoom=10 
				mapTypeId='terrain'
				as |g| }}
				{{g.canvas}}
				{{#each model.site.map.markers as |marker|}}
			    {{g.marker
			      label=marker.name
			      lat=marker.latitude
			      lng=marker.longitude
			      draggable=true}}
			  {{/each}}
			{{/g-map}}
	
	{{/acc.item}}
	{{#acc.item value="2" title=(t "forms.common.identity")}}
	<div class="card" id="siteModal">
		<div class="card-body">{{#bs-form formLayout=formLayout
			model=model.site 
			onSubmit=(action "save") as |form|}} 
				{{form.element
					property="id" 
					placeholder=(t "forms.common.id") 
					label=(t "forms.common.id")
				}} 
				{{form.element 
					property="name" 
					placeholder=(t "forms.common.name") 
					label=(t "forms.common.name")
				}} 
			{{/bs-form}}
		</div>

	</div>
	{{/acc.item}}

	
{{/bs-accordion}}
<div class="card">
<div class="card-header">
		<div class="btn-group collapsed">
			<button type="button" class="btn btn-secondary"
				data-dismiss="modal">{{t "user.close"}}</button>
			<button id="saveButton" 
				class="btn btn-primary"
				{{action "save"}} data-dismiss="modal" >{{t "user.save"}}</button>
							
		</div>
	</div>
</div>
{{outlet}}
