<!-- The site editor page -->
{{site-menu
	site = model.site
	save=(action "save")
	newMap=(action "newMap")
	newMarker = (action "newMarker")
}}
{{#bs-accordion selected="1" as |acc|}}
	{{#acc.item value="1"  title=(t "forms.common.map.title")}}

			{{#g-map
				lat=model.site.map.siteMarker.location.latitude
				lng=model.site.map.siteMarker.location.longitude
				zoom=model.site.map.zoomLevel
				mapTypeId='terrain'
				as |g| }}
				{{g.canvas}}
				{{g.marker
			      label=model.site.map.siteMarker.name
			      lat=model.site.map.siteMarker.location.latitude
				lng=model.site.map.siteMarker.location.longitude
			      draggable=true
			      onDragend=(action "dragEnd")
					  onClick=(action "showMarkerEditor" model.site.map.siteMarker)}}
				{{#each model.site.map.markers as |marker|}}
			    {{g.marker
			      label=marker.name
			      lat=marker.location.latitude
			      lng=marker.location.longitude
			      draggable=true
			      onDragend=(action "dragEnd")
					  onClick=(action "showMarkerEditor" marker)}}
			  {{/each}}
			{{/g-map}}

	{{/acc.item}}
	{{#acc.item value="2" title=(t "forms.common.identity")}}
	<div class="card" id="siteModal">
		<div class="card-body">{{#bs-form formLayout=formLayout
			model=model.site
			onSubmit=(action "save") as |form|}}
				{{form.element
					disabled=true
					property="id"
					placeholder=(t "forms.common.id")
					label=(t "forms.common.id")
				}}
				{{form.element
					property="name"
					placeholder=(t "forms.common.name")
					label=(t "forms.common.name")
				}}
				{{form.element
					property="windgramKey"
					placeholder=(t "forms.site.windgramKey")
					label=(t "forms.site.windgramKey")
				}}
			{{/bs-form}}
		</div>

	</div>
	{{/acc.item}}
	{{#acc.item value="3" title=(t "forms.common.predictor")}}
	<div class="card" id="siteModal">
		<div class="card-body">
			{{flynsite-windgram key=model.site.windgramKey}}
		</div>

	</div>
	{{/acc.item}}


{{/bs-accordion}}
{{site-menu
	site = model.site
	save=(action "save")
	newMap=(action "newMap")
	newMarker = (action "newMarker")
}}


{{outlet}}
