<!-- The site editor page -->
{{site-menu
	site = model.site
	save=(action "save")
	newMap=(action "newMap")
	newMarker = (action "newMarker")
}}
{{#bs-accordion selected="1" as |acc|}}
	{{#acc.item value="1"  title=(t "forms.map.title")}}

			{{#g-map
				lat=model.siteMarkerLocation.latitude
				lng=model.siteMarkerLocation.longitude
				zoom=model.map.zoomLevel
				mapTypeId='terrain'
				as |g| }}
				{{g.canvas}}
				{{g.marker
			      label=model.siteMarker.name
			      lat=model.siteMarkerLocation.latitude
				lng=model.siteMarkerLocation.longitude
			      draggable=true
			      onDragend=(action "dragEnd")
					  onClick=(action "showMarkerEditor" model.siteMarker)}}
				{{#each model.map.markers as |marker|}}
			    {{g.marker
			      label=marker.name
			      lat=marker.location.latitude
			      lng=marker.location.longitude
			      draggable=true
			      onDragend=(action "dragEnd")
					  onClick=(action "showMarkerEditor" marker)}}
			  {{/each}}
			{{/g-map}}

			<!-- location -->
			{{#bs-form formLayout=formLayout
				model=model
				onSubmit=(action "save") as |form|}}
					{{form.element
						property="siteMarkerLocation.latitude"
						placeholder=(t "forms.map.location.latitude")
						label=(t "forms.map.location.latitude")
					}}
					{{form.element
						property="siteMarkerLocation.longitude"
						placeholder=(t "forms.map.location.longitude")
						label=(t "forms.map.location.longitude")
					}}

					{{form.element
						property="map.zoomLevel"
						placeholder=(t "forms.map.zoomLevel")
						label=(t "forms.map.zoomLevel")
					}}
				{{/bs-form}}

	{{/acc.item}}
	{{#acc.item value="2" title=(t "forms.common.identity")}}
	<div class="card" id="siteModal">
		<div class="card-body">
		{{#bs-form formLayout=formLayout
			model=model.site
			onSubmit=(action "save") as |form|}}
				{{form.element
					disabled=true
					property="id"
					placeholder=(t "forms.common.id")
					label=(t "forms.common.id")
				}}
				{{form.element
					property="name"
					placeholder=(t "forms.common.name")
					label=(t "forms.common.name")
				}}
				{{form.element
					property="windgramKey"
					placeholder=(t "forms.site.windgramKey")
					label=(t "forms.site.windgramKey")
				}}
				{{form.element
					property="map.siteMarker.location.latitude"
					placeholder=(t "forms.map.location.latitude")
					label=(t "forms.map.location.latitude")
				}}
				{{form.element
					property="map.siteMarker.location.longitude"
					placeholder=(t "forms.map.location.longitude")
					label=(t "forms.map.location.longitude")
				}}
			{{/bs-form}}
		</div>

	</div>
	{{/acc.item}}
	{{#acc.item value="3" title=(t "forms.common.predictor")}}
	<div class="card" id="siteModal">
		<div class="card-body">
			{{flynsite-windgram key=model.site.windgramKey}}
		</div>
		<div class="card-footer">
		{{#bs-dropdown as |dropdown|}}
		  {{#bs-button}}Future{{/bs-button}}
		  {{#dropdown.button}}<span class="caret"></span>{{/dropdown.button}}
		  {{#dropdown.menu as |dayMenu|}}
		    {{#dayMenu.item}}
		      {{#bs-button id="day0button" type="info" onClick=(action "changeDays" 0 )  }}Current{{/bs-button}}
		    {{/dayMenu.item}}
		    {{#dayMenu.item}}
		      {{#bs-button id="day1button" type="info" onClick=(action "changeDays" 1 ) }}+1{{/bs-button}}
		    {{/dayMenu.item}}
		  {{/dropdown.menu}}
		{{/bs-dropdown}}
	</div>
	</div>
	{{/acc.item}}


{{/bs-accordion}}
{{site-menu
	site = model.site
	save=(action "save")
	newMap=(action "newMap")
	newMarker = (action "newMarker")
}}


{{outlet}}
